<!--https://stackoverflow.com/questions/1479219/validate-multiple-selects-for-preference-voting-in-rails?rq=1-->

<style>

    .voteoption {
        width: 10em;
        height: 25px;
        position: relative;
        background: black;
        padding: 0px 0px 0px 0px;
    }
    .voteoption:before {
        content: "";
        position: absolute;
        right: -20px;
        bottom: 0;
        width: 0;
        height: 0;
        border-left: 20px solid black;
        border-top: 12.5px solid transparent;
        border-bottom: 12.5px solid transparent;
    }
    .voteoption-text {
        color: white;
        font-size: 1.5em;
        font-weight: bold;
    }

    .option-a{
        border-bottom: 15px solid black;
        margin-bottom: 10px;
    }
    .ballot-col{
        border-left: 1px solid black;
        padding: 3px;
    }
    select{
        background-color: white;
        height: 40px;
        width: 40px;
        /*float: left;*/
        border: 2px solid #000;
        font-size: 1.4em;
        text-align-last: center;
    }
</style>



<hr>

<%= link_to admin_candidates_path, class: "ui button" do %>
  <i class="home icon"></i> Candidates
<% end %>

<%= link_to admin_path, class: "ui button" do %>
  <i class="home icon"></i> Admin Home
<% end %>

<br />
<br />

<table class="ui table">
  <thead border-bottom="1px solid black">
    <tr>
      <th rowspan="2">Candidate</th>
      <th colspan="13">Preferences</th>
    </tr>
    <tr>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>5</th>
      <th>6</th>
      <th>7</th>
      <th>8</th>
      <th>9</th>
      <th>10</th>
      <th>11</th>
      <th>12</th>
      <th>13+</th>
    </tr>
  </thead>

  <tbody>
  <% @votes.each_with_index do |candidate, i| %>
    <tr>
      <td><%= @candidate[i].first_name + " " + @candidate[i].last_name %></td>
      <% candidate.each do |preference| %>
        <td> <%= preference %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>